* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: #c9d6fc;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.top-banner {
    background-color: #00BFFF;
    background: linear-gradient(to right, #00BFFF 50%, #000080 150%);
    height: 300px;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000080;
    padding: 20px;
    border-radius: 5px;
    transform: translateY(-10%);
}

.nav-bar button{
    
}



.nav-bar input{

}

.results-container {
    background-color: aliceblue;
}



