.top-banner {
    background-color: #00BFFF;
    background: linear-gradient(to right, #00BFFF 50%, #000080 150%);
    height: 300px;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-bar button{

}

.nav-bar input{

}



